html, body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

@function ems($px) {
  @return $px + 0px
}

@mixin media($size: 'desk') {
  $sizes: (
    'desk': ems(1200),
    'lap': ems(800),
    'hand': ems(500)
  );
  $query: map-get($sizes, $size);
  @media screen and (min-width: #{$query}) {
    @content;
  }
}

.main {

  .main__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .main__header {
    flex: 1;
    background: steelblue;
    padding: 1em;
    min-width: 100%;
  }

  .main__content {
    display: flex;
    flex: 1;
    min-width: 100%;
    flex-direction: column;

    @include media('lap') {
      flex-direction: row;
    }
  }
}

.table,
.list {
  flex: 1;

  &--repositories {
    flex: 1;
  }

  &--commits {
    flex: 3
  }

  .table__inner {
    padding: 1em;
  }

  .table__cell {
    padding: .5em;

    &--name span {
      background: steelblue;
      padding: .3em .7em;
      color: white;
      border-radius: .2em;
    }
  }
}

.list {
  flex: 1;

  &--repositories {
    flex: 1;
  }

  &--commits {
    flex: 3
  }

  .list__inner {
    padding: 1em;
  }

  .list__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .list__item {
    flex: 1;
    display: flex;
    align-content: space-between;
    list-style-type: none;
  }

  .list__button {
    background: steelblue;
    color: white;
    width: 100%;
    padding: 1em;
    border: 1px solid darken(steelblue, 10%);
  }
}

.commit {
  display: flex;
  min-width: 100%;

  border-bottom: 1px solid #eee;

  &:hover {
    background: #f7f7f7;
  }

  // active state
  .commit__checkbox:checked ~ & {
    background: #d1eaff;
    border-bottom: 1px solid darken(#d1eaff, 5%);
  }

  .commit__wrapper {
    flex: 1;
    padding: .5em 1em;

    > .commit__cell {
      padding: .2em;
    }

    &--title {
      flex-grow: 4;
    }

    &--times {
      flex-grow: 2;
    }
  }

  .commit__checkbox {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  .commit__cell {

    &--index {
      width: 70px;
    }

    &--index,
    &--checkbox {
      padding: .5em;
    }
  }

  .commit__cell {
    padding: .5em 1em;

    &--name span {
      color: steelblue;
      font-weight: bold;
    }
  }
}

.repository {
  display: flex;
  min-width: 100%;
  cursor: pointer;

  border-bottom: 1px solid #eee;

  &:hover {
    background: #f7f7f7;
  }

  // active state
  &.active {
    background: #d1eaff;
    border-bottom: 1px solid darken(#d1eaff, 5%);
  }

  .repository__wrapper {
    flex: 1;
    padding: .5em 1em;

    > .repository__cell {
      padding: .2em;
    }

    &--title {
      flex-grow: 4;
    }

    &--times {
      flex-grow: 2;
    }
  }

  .repository__checkbox {
    visibility: hidden;
    position: absolute;
    opacity: 0;
  }

  .repository__cell {

    &--index {
      width: 70px;
    }

    &--index,
    &--checkbox {
      padding: .5em;
    }
  }

  .repository__cell {
    padding: .5em 1em;

    &--name span {
      color: steelblue;
      font-weight: bold;
    }
  }
}
